/* CSS Document */

.lowest-price{
padding:30px 0px;
background-color:#FFFFFF;
margin:20px 0px;

}
.image-content p{
    padding: 202px 0px;
    font-size: 36px;
    margin: auto;
    font-family: raleway;
	

}
body {
background-color:#f1f1f1;


}